body {
    font-family: $primaryFontFamily;
}

main {
    padding: 40px 0;
}

.header {
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid $lightGrey;
}

.container {
    padding-left: 30px;
    padding-right: 30px;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}