// Utility
@import "Styles/utility";

.btn {
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: pointer;
    user-select: none;
    border: 0;
    border-radius: 6px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 600;

    &:focus {
        outline: 0;
    }

    &:hover {
        color: #fff;
    }

    &.btn-small {
        padding: 10px;
    }

    &.btn-medium {
        padding: 10px 30px;
    }

    &.btn-full {
        width: 100%;
    }

    i {
        padding-left: 12px;
    }
}

.btn-primary {
    background: $primaryColor;
    color: #ffffff;

    &:not([disabled]) {
        &:hover, &:focus {
            background: darken($primaryColor, 5%);
        }

        &:active {
            background: darken($primaryColor, 5%);
        }
    }

    &[disabled] {
        opacity: 0.6;
    }
}

.btn-default {
    background: $secondaryColor;
    color: #ffffff;

    &:not([disabled]) {
        &:hover, &:focus {
            background: darken($secondaryColor, 5%);
        }

        &:active {
            background: darken($secondaryColor, 5%);
        }

        &[disabled] {
            opacity: 0.6;
        }
    }
}
