$red: #EF5350;
$blue: #3E8CFF;
$orange: #fc6b0d;
$yellow: #feb611;

$lightBlue: #f7f8f9;
$lightGrey: #E8E8E8;
$black: #191919;

$error: $red;
$warning: #E9B400;
$success: #198754;

$primaryColor: $orange;
$secondaryColor: $yellow;

$primaryFontFamily: 'Poppins', sans-serif;
$secondaryFontFamily: 'Poppins', sans-serif;

$breakpointSM: 576px;
$breakpointMD: 768px;
$breakpointLG: 992px;
$breakpointXL: 1200px;
$breakpointXXL: 1400px;

$sidebarWidth: 400px;